<p style="color: green"><%= notice %></p>

<h1>User trasactions</h1>

<div id="user_trasactions">
  <% @user_trasactions.each do |user_trasaction| %>
    <%= render user_trasaction %>
    <p>
      <%= link_to "Show this user trasaction", user_trasaction %>
    </p>
  <% end %>
</div>

<%= link_to "New user trasaction", new_user_trasaction_path %>
